# LGMVIP-Web-TO-DO-List-WebApp
body{
    background-color: rgb(20, 220, 90);
}
h2{
    color: rgb(0, 21, 211);
    
}
label{
    font-size: x-large;
}
small{
    color:rgb(0, 162, 255);
    font-size: x-large;
    
}
